@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,700;1,600;1,700&display=swap');
*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 400;

}

body{
    font-family: var(--fuente-ralewey);
    font-size: 18px;
    font-size: 1.8rem;
line-height: 1.5;
background-color: rgb(0, 0, 0);
height: 100%;
color: white;
}


h1,h2,h3,h4 {

   
    margin: 0 0 1rem 0;
    line-height: 1.2;

}

h1 {
    font-size: 3rem;
    
}

h2 {
    font-size: 2.2rem;
    
}

h3 {
    font-size: 1.8rem;
    
}

h4 {
    font-size: 1.4rem;
    
}

p,span{

    font-size: 1.4rem;
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    line-height: 1.2;

}

a{

    font-size: 1.6rem;
    color: aqua;
    font-weight: 300;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Nunito Sans', sans-serif;
    transition: 300ms;



    &:hover{
        color: rgb(255, 0, 170);
        border-bottom: 1px solid rgb(255, 0, 170);
        border-bottom-left-radius: 10px;
    }

}



a:active{

    color: black;

}

//ALLGEMEIN
.space,.space-recht{
    height: 2px;
    width: 100px;
    background-color: white;
    margin-top: 36px;
margin-bottom: 36px;
}

.space-recht{
    display: block;
    margin-left: auto
}



img{

    display: block;
    max-width: 100%;
    height: auto;

}

//POST
@media(min-width:722px){
.postacomodar{
    display: grid;
grid-template-rows: 1fr 1fr auto;
column-gap:20px;

grid-template-columns: 1fr 1fr; 
.space-recht{
margin: 0px;
margin-bottom: 24px
}
}
}


////////FOOTER//////////
footer{
    
}

////importar cscc de otras paginas 
@import './routes/inicio.scss';
@import './lib/Components/Menu/Menu.scss';
@import  './lib/Components/Layout/Icons.scss';
@import  './lib/Components/Layout/footer.scss';
@import './routes/posts/[slug]/postsindividuelle.scss';
@import './routes/kontakt/kontakt.scss';